<div class="login-container">
  <h2>Iniciar Sesión</h2>
  <form (submit)="onSubmit(); $event.preventDefault()">
    <div>
      <label>Usuario</label>
      <input type="text" [(ngModel)]="username" name="username" required />
    </div>

    <div>
      <label>Contraseña</label>
      <input type="password" [(ngModel)]="password" name="password" required />
    </div>

    <div>
      <label>OTP (Google Authenticator)</label>
      <input type="text" [(ngModel)]="otp" name="otp" required />
    </div>

    <div *ngIf="error" class="error-message">
      {{ error }}
    </div>

    <button type="submit">Entrar</button>
  </form>

  <div *ngIf="token" class="token-box">
    <strong>Token recibido:</strong>
    <p>{{ token }}</p>
  </div>

  <div class="register-link">
    <button (click)="goToRegister()">¿No tienes una cuenta? Regístrate aquí</button>
  </div>
</div>
